// imports scss partials

@import 'variables';
@import 'mixins';

body {
    height: 100vh;
    background-color: $grey_900;
    color: $primary_white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    @include flex;
    background: $grey_800;
    padding: 2rem 3rem;
    max-width: 300px;
    margin: auto;
    border-radius: 8px;

    img {
        border-radius: 1000%;
        width: 100px;
    }

    .heading {
        text-align: center;
        
        h2 {
            color: $primary_white;
            font-size: 1.5rem;
        }
        .location {
            font-size: 14px;
            color: $primary_green;
        }

    }
}

.links-container {

    a {
        @include flex;
        margin-bottom: 10px;
        background-color: $grey_700;
        width: 300px;
        text-align: center;
        padding: 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.35s ease-in;
        

        &:hover {
            background-color: $grey_hover;
            transform: scale(1.02);
        }
    }


}
